body{
  background: #F7E2DC;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.text{
  text-align: center;
  color: #7387c8;
  font-size: 100px;
  font-weight: bold;
  position: relative;
  animation: text 3s 1;
  text-shadow: none;
}


@keyframes text{
  0%{
    color: #3aaada;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}